body {
    background-color: #ffffff;
}
.pealkiri1{
    font-size: 30px;
    text-align: center;
}

.pealkiri2{
    font-size: 25px;
    text-align: left;
    padding: 10px;
}

.upper {
    height: 10%;
    padding: 10px;
}
.main {
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    background-color: #ffffff;
}

.main-sisu {
    width: 100%;

}

.sisu {
    width: 80%;
    height: 100%;
    float: left;
}

.pilt {
    width: 20%;
    float: left;
}
.pildid {
    height: 200px;
    width: 200px;
}

.pildid:hover {
    height: 250px;
    width: 250px;
}

.sisu p {
    text-align: left;
    padding: 10px;
}

p a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 0 5 5 5;
    color: #000000;
}



.vahelehed {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 10px;
}

#d1 {
  width: 150;
  height: 150;
  padding: 10px;
  position: absolute;
  top: 30px;
  right: 10px;
  float: right;
}
#d2 {
  width: 50;
  height: 700;
  padding: 10px;
  margin: 0;
  position: absolute;
  right: 180px;
}